$font-family: "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-code: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;

$white: #FFF;
$white-comment: #E3E3E3;
$white-border: #CCC;
$white-border-darker: #BBB;
$black: #131313;
$black-light: #303030;
$grey: #777777;
$grey-dark: #A29D9D;
$grey-darker: #2A2A2A;
$grey-light: #BEBEBE;
$grey-lightest: #EEE;
$gray98: #FAFAFA;
$red: #E95353;
$blue: #4288CE;
$blue-crystalsong: #4BB1B1;
$blue-light: #BEE9EA;
$purple: #463C54;
